.paper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.paper-example {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
  background-color: rgb(255, 255, 255);
  //max-width: 300px;
  min-height: 300px;
  width: 80%;
}